<aside class="sidenav-main nav-expanded nav-lock nav-collapsible sidenav-dark gradient-45deg-deep-purple-blue sidenav-gradient sidenav-active-rounded">
  <div class="brand-sidebar">
    <h1 class="logo-wrapper">
      <a class="brand-logo darken-1" href="index-2.html">
        <img class="hide-on-med-and-down " src="app-assets/images/logo/materialize-logo.png" alt="materialize logo" />
        <img class="show-on-medium-and-down hide-on-med-and-up" src="app-assets/images/logo/materialize-logo-color.png" alt="materialize logo" />
        <span class="logo-text hide-on-med-and-down">Admin</span>
      </a>
      <a class="navbar-toggler" href="#">
        <i class="material-icons">radio_button_checked</i>
      </a>
    </h1>
  </div>
  <ul class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow" id="slide-out" data-menu="menu-navigation" data-collapsible="menu-accordion">
    <li class="bold">
      <a routerLink="/dashboard" routerLinkActive="active" class="waves-effect waves-cyan " href="JavaScript:void(0)">
        <i class="material-icons">settings_input_svideo</i>
        <span class="menu-title" data-i18n="Dashboard">Dashboard</span>
      </a>
    </li>

    <li class="navigation-header">
      <a class="navigation-header-text">Users Settings</a>
      <i class="navigation-header-icon material-icons">more_horiz</i>
    </li>

    <li [ngClass]="{'active': userProfiles.isActive}" class="bold">
      <a class="collapsible-header waves-effect waves-cyan " href="JavaScript:void(0)">
        <i class="material-icons">chrome_reader_mode</i>
        <span class="menu-title" data-i18n="Forms">User</span>
      </a>
      <div class="collapsible-body">
        <ul class="collapsible collapsible-sub" data-collapsible="accordion">
          <li [ngClass]="{'active': userProfiles.isActive}">
            <a routerLink="/profiles" routerLinkActive="active" #userProfiles="routerLinkActive" href="form-elements.html">
              <i class="material-icons">radio_button_unchecked</i>
              <span data-i18n="Form Elements">Profile</span>
            </a>
          </li>
        </ul>
      </div>
    </li>
    <li class="navigation-header">
      <a class="navigation-header-text">Documentation & Support</a>
      <i class="navigation-header-icon material-icons">more_horiz</i>
    </li>
    <li class="bold">
      <a class="waves-effect waves-cyan " href="https://pixinvent.com/materialize-material-design-admin-template/documentation/index.html" target="_blank">
        <i class="material-icons">import_contacts</i>
        <span class="menu-title" data-i18n="Documentation">Documentation</span>
      </a>
    </li>
    <li class="bold">
      <a class="waves-effect waves-cyan " href="https://pixinvent.ticksy.com/" target="_blank">
        <i class="material-icons">help_outline</i>
        <span class="menu-title" data-i18n="Support">Support</span>
      </a>
    </li>
  </ul>
  <div class="navigation-background"></div>
  <a class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only" href="#" data-target="slide-out">
    <i class="material-icons">menu</i>
  </a>
</aside>