# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore ALL .log files
*.log

#Ignore Uploaded Files
/public/assets/uploads/*

# ignore ALL files in ANY directory named temp
temp/

#Ignore
admin/.vscode/
/html

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*