# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# ignore ALL .log files
*.log

# ignore ALL files in ANY directory named temp
temp/
admin/.vscode/

# dependencies
/node_modules

# production
/build