<!-- BEGIN: Footer-->
<footer class="page-footer footer footer-static footer-light navbar-border navbar-shadow">
    <div class="footer-copyright">
      <div class="container">
        <span>&copy; {{ currentYear }}
            <a href="https://manikandanselvacse.business.site/" target="_blank">Mearn Admin</a>
            All rights reserved.
        </span>
        <span class="right hide-on-small-only">Design and Developed by <a href="https://manikandanselvacse.business.site/">Mearn Admin</a>
        </span>
      </div>
    </div>
  </footer>
  <!-- END: Footer-->